body{
	height:100vh;
}

header{
	height:15vh;
	}

nav{
	width:30%;
	float:left;
	height:70vh;
}

nav ul{
	list-style:none;
}

nav ul li {
	display:block;
	height:30px;
	width:100%
}

section{
	float:left;
	margin:0 0 0 20px;
	height:70vh;
}

footer{
	clear:both;
	height:15vh;
}